.button {
    padding: 15px 50px;
    border-radius: 8px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: var(--transition);
}


/*Primary*/
.button_primary {
    background: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}
.button_primary:hover {
    background-color: var(--primary-hover);
}


/*Secondary*/
.button_secondary {
    background: var(--secondary);
    color: var(--white);
    border: 1px solid var(--secondary);
}
.button_secondary:hover {
    background-color: var(--secondary-hover);
}


/*Alternate*/
.button_alternate {
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
    box-shadow: none;
}
.button_alternate:hover {
    border-color: var(--black);
}


/*Disabled*/
.button:disabled {
    pointer-events: none;
    opacity: 0.5;
}


