.card {
    width: 164px;
    height: 210px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(33, 36, 41, 0.05);
    background: grey;
}

@media screen and (min-width: 768px) {
    .card {
        width: 211px;
        height: 249px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 257px;
        height: 289px;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        width: 304px;
        height: 328px;
        border-radius: 12px;
    }
}

@media screen and (min-width: 1400px) {
    .card {
        width: 350px;
        height: 367px;
    }
}

