@import "../../assets/css/variables";

.toggle {
    display: inline-block;


    &__input {
        position: absolute;
        left: -100vw;
    }

    &__state {
        @include flex(flex, null, center);
        gap: 12px;
        cursor: pointer;
    }

    &__control {
        @include widthAndHeight(52px, 28px);
        @include border(1px solid var(--grey-2), 26px, null);
        box-sizing: border-box;
        @include flex(flex, null, center);
        padding-left: 1px;
    }

    &__point {
        @include widthAndHeight(24px, 24px);
        background-color: var(--grey-2);
        border-radius: 50%;
    }

    &__title {
        @include text(var(--grey-4), 16px, normal, 400, 24px);
    }

    &__input:checked ~ &__state &__control {
        border-color: var(--blue);
        background-color: var(--blue);
    }

    &__input:checked ~ &__state &__point {
        background-color: var(--white);
        position: relative;
        left: 24px;
    }

    &__input:disabled ~ &__state &__control {
        background-color: var(--grey-2);
    }

    &__input:disabled ~ &__state &__point {
        background-color: var(--grey-3);
    }
}


