.toggle {
    display: inline-block;
}

.toggle__input {
    position: absolute;
    left: -100vw;
}

.toggle__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.toggle__control {
    width: 52px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 26px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 1px;
}

.toggle__point {
    width: 24px;
    height: 24px;
    background-color: var(--grey-2);
    border-radius: 50%;
}

.toggle__title {
    color: var(--grey-4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.toggle__input:checked ~ .toggle__state .toggle__control {
    border-color: var(--blue);
    background-color: var(--blue);
}

.toggle__input:checked ~ .toggle__state .toggle__point {
    background-color: var(--white);
    position: relative;
    left: 24px;
}

.toggle__input:disabled ~ .toggle__state .toggle__control {
    background-color: var(--grey-2);
}

.toggle__input:disabled ~ .toggle__state .toggle__point {
    background-color: var(--grey-3);
}

