.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgba(196, 196, 196, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__window {
    padding: 30px 40px;
    max-width: 428px;
    border-radius: 8px;
    background: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__open {
    cursor: pointer;
}

.modal__close {
    background: var(--white);
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    border: 0;
}

.modal__close:hover {
    cursor: pointer;
}

.modal_title {
    color: #334D6E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.modal__text {
    color: var(--grey-4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}