@import "../../assets/css/variables";

.skeleton {
    padding: 24px 40px 32px 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;

    &__top {
        display: flex;
    }

    &__bottom {
        margin-top: 24px;
    }

    &__avatar {
        width: 64px;
        height: 64px;
        background: var(--gradient);
        border-radius: 50%;
        margin-right: 16px;
    }

    &__row {
        height: 20px;
        background: var(--gradient);
        margin-top: 8px;
    }

    &__rows {
        flex: 1;
    }

    &__row_small {
        width: 40%;
    }

    &__row_medium {
        width: 60%;
    }

    &__row_large {
        width: 100%;
    }
}
