.skeleton {
    padding: 24px 40px 32px 24px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.skeleton__top {
    display: flex;
}

.skeleton__bottom {
    margin-top: 24px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    background: var(--gradient);
    border-radius: 50%;
    margin-right: 16px;
}

.skeleton__row {
    height: 20px;
    background: var(--gradient);
    margin-top: 8px;
}

.skeleton__rows {
    flex: 1;
}

.skeleton__row_small {
    width: 40%;
}

.skeleton__row_medium {
    width: 60%;
}

.skeleton__row_large {
    width: 100%;
}
