.burger-menu {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgba(196, 196, 196, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100vw);
    transition: transform 250ms linear;
}

.burger-menu[data-open] {
    transform: none;
}

.burger-menu__window {
    max-width: 375px;
    background-color: var(--white);
}

.burger__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
}

.burger-menu-close {
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--grey-2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    left: 16px;
    cursor: pointer;
}

.preview_burger {
    height: 100vh;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}