.preview {
    background-color: #F9FAFC;
    padding: 4.25rem 0;
}

.preview__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    grid-gap: 1rem;
}

@media screen and (min-width: 576px) {
    .preview__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}