.form {
    display: flex;
}

.form__title {
    color: var(--grey-3);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.form__label {

}

.form__wrapper {
    position: relative;
}

.form__icon {
    position: absolute;
    bottom: 16px;
    right: 16px;
    visibility: hidden;
}

.form__input {
    width: 350px;
    height: 56px;
    color: var(--grey-4);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-left: 24px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
}

.form__input:focus {
    border-color: var(--blue);
    outline: none;
}

.form_success .form__icon_success {
    visibility: visible;
}

.form_error .form__icon_error {
    visibility: visible;
}

.form_error .form__input {
    border-color: var(--error);
}

.form_success .form__input:focus,
.form_error .form__input:focus {
    outline: none;
    border: 1px solid var(--blue);
}
